<!DOCTYPE html>
<!--[if lt IE 7]><html lang="en" class="no-js ie ie6"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js ie ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js ie ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="no-js ie ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>@title &middot; @name</title>
	<!-- <link rel="shortcut icon" href="@root_path/favicon.ico"> -->
	<!-- <link rel="apple-touch-icon" href="@root_path/apple-touch-icon.png"> -->
	<link rel="stylesheet" media="screen" href="@root_path/public/docs/css/screen.css?d=20110319">
	<link rel="stylesheet" media="print" href="@root_path/public/docs/css/print.css?d=20110319">
	<link rel="alternate" type="application/atom+xml" href="@root_path/?/feed/">
	<script src="@root_path/public/docs/js/modernizr-2.0.6.custom.min.js"></script>
</head>
<body>

	<header id="site-header">
		<h1><a href="@root_path">@name</a></h1>
		if @tagline do <p id="site-tagline"><em>@tagline</em></p> endif
	</header>

	<section id="content">
